# Git LFS
backend/ocean-grid-cache.json filter=lfs diff=lfs merge=lfs -text

# Line endings
* text=auto
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.md text eol=lf